<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="600">
    <Properties>
        <Property name="LOG_HOME">./logs</Property>
        <Property name="LOG_FILE">config-server</Property>
        <Property name="pattern">%d{HH:mm:ss,SSS} [%p] %c{1}:[%L] - %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <name>Console</name>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="File">
            <filePattern>${LOG_HOME}/${LOG_FILE}.%d{yyyy-MM-dd}.log</filePattern>
            <fileName>${LOG_HOME}/${LOG_FILE}.log</fileName>
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <Async name="Async">
            <AppenderRef ref="File"/>
        </Async>
    </Appenders>

    <Loggers>
        <Logger name="com.zhenming.demo" level="debug"/>

        <Root level="info">
            <AppenderRef ref="Async"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>